.first {
    width: 90%;  
    height: 48%;  
    left: 100%;   
    top: 100%;   
    }  
    .body{  
        width: "3px";  
        height: "40px";   
        top:"50px" ;   
    }
    .details  
    { 
        height: 10px;   
        width: 180px;   
        top:80%;   
        bottom: px;  
    }  
    .table{  
    top:"180px";  
    width: 1000px;  
    left: 50px;  
    }
    
       
    